@inherits ToSic.Sxc.Dnn.RazorComponent
@using System;
@using System.Collections;
@using System.Linq;
@using System.Text.RegularExpressions;
@using DotNetNuke.Common;
@using ToSic.SexyContent;

<link rel="stylesheet" href="@App.Path/vacancies.css" />

@if (Globals.IsEditMode()) {
	<div @Edit.TagToolbar(Header, settings: new { hover = "right" })>
        <p class="text-muted">@Header.Title</p>
	</div>
}

@foreach(var c in AsList (Data).OrderByDescending (c => c.Modified)) {
	<div @Edit.TagToolbar(c, settings: new { hover = "right" })>
    	<div class="card card-body mb-3">
    	    <h4 class="card-title"><span class="badge badge-primary">@c.Modified.ToShortDateString()</span> @c.Title</h4>
    	    <h5 class="card-subtitle mb-3">@c.CompanyName</h5>
    	    <dl>
        	    @if (!string.IsNullOrEmpty (c.CompanyDesciption)) {
            	    <dt>@App.Resources.lblCompanyDescription</dt>
            	    <dd>@Html.Raw(c.CompanyDescription)</dd>
        	    }
        	    @if (!string.IsNullOrEmpty (c.Duties)) {
        	        <dt>@App.Resources.lblDuties</dt>
        	        <dd>@Html.Raw(c.Duties)</dd>
        	    }
        	    @if (!string.IsNullOrEmpty (c.Requirements)) {
            	    <dt>@App.Resources.lblRequirements</dt>
            	    <dd>@Html.Raw(c.Requirements)</dd>
        	    }
        	    @if (!string.IsNullOrEmpty (c.WorkingConditions)) {
            	    <dt>@App.Resources.lblWorkingConditions</dt>
            	    <dd>@Html.Raw(c.WorkingConditions)</dd>
        	    }
        	    <dt>@App.Resources.lblContacts</dt>
        	    <dd>@Html.Raw(c.Contacts)</dd>
        	</dl>
    	</div>
	</div>
}
